<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/beans">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h5>系统信息(Sigar版)</h5>
<div id="system">
    <ul id="system-info"> </ul>
</div>
<h5>系统信息(Java版)</h5>
<div>
    <ul id="system-info-java"> </ul>
</div>
<h5>系统用户</h5>
<div id="user">
    <table>
        <tr>
            <th>User</th>
            <th>Host</th>
            <th>Device</th>
            <th>Time</th>
        </tr>
        <tbody id="user-info"></tbody>
    </table>
</div>

<h5>CPU信息</h5>
<div id="cpu">
    <table>
        <tr>
            <th>厂商</th>
            <th>类别</th>
            <th>频率</th>
            <th>缓冲存储器数量</th>
            <th>用户使用率</th>
            <th>系统使用率</th>
            <th>当前等待率</th>
            <th>当前错误率</th>
            <th>当前空闲率</th>
            <th>总的使用率</th>
        </tr>
        <tbody id="cpu-info"></tbody>
    </table>
</div>
<h5>内存信息</h5>
<div>
    <table>
        <tr>
            <th>内存总量</th>
            <th>当前内存使用量</th>
            <th>当前内存剩余量</th>
            <th>交换区总量</th>
            <th>当前交换区使用量</th>
            <th>当前交换区剩余量</th>
        </tr>
        <tbody id="memory-info"></tbody>
    </table>
</div>
<h5>硬盘信息</h5>
<div>
    <table>
        <tr>
            <th>DevName</th>
            <th>DirName</th>
            <th>Flags</th>
            <th>SysTypeName</th>
            <th>TypeName</th>
            <th>Type</th>
            <th>Total</th>
            <th>Free</th>
            <th>Avail</th>
            <th>Used</th>
            <th>Percent</th>
            <th>DiskReads</th>
            <th>DiskWrites</th>
        </tr>
        <tbody id="file-system-info"></tbody>
    </table>
</div>
<h5>网络信息</h5>
<div>
    <table>
        <tr>
            <th>name</th>
            <th>address</th>
            <th>netmask</th>
            <th>接收的总包裹数</th>
            <th>发送的总包裹数</th>
            <th>接收到的总字节数</th>
            <th>发送的总字节数</th>
            <th>接收到的错误包数</th>
            <th>发送数据包时的错误数</th>
            <th>接收时丢弃的包数</th>
            <th>发送时丢弃的包数</th>
        </tr>
        <tbody id="network-info"></tbody>
    </table>
</div>
<h5>以太网络信息</h5>
<div>
    <table>
        <tr>
            <th>name</th>
            <th>address</th>
            <th>broadcast</th>
            <th>hwaddr</th>
            <th>netmask</th>
            <th>description</th>
            <th>type</th>
        </tr>
        <tbody id="ethernet-info"></tbody>
    </table>
</div>
</body>
<script src="https://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        getCpuInfo();
        getMemoryInfo();
        getSystemInfo();
        getSystemInfoByJava();
        getUserInfo();
        getFileSystemInfo();
        getNetworkInfo();
        getEthernetInfo();
    });

    var time_interval = 1000 * 2;

    function getCpuInfo(){
        setInterval(function () {
            $.post(
                "/information/getCpuInfo",
                {
                    //parameters
                },
                function (result, status) {
                    if (result.code == '0') {
                        $("#cpu-info").html("");
                        for (var i = 0; i < result.array.length; i++) {
                            $("#cpu-info").html($("#cpu-info").html() +
                                "<tr>" +
                                "<td>" + result.array[i].vendor + "</td>" +
                                "<td>" + result.array[i].model + "</td>" +
                                "<td>" + result.array[i].mhz + "</td>" +
                                "<td>" + result.array[i].cacheSize + "</td>" +
                                "<td>" + result.array[i].user + "</td>" +
                                "<td>" + result.array[i].sys + "</td>" +
                                "<td>" + result.array[i].wait + "</td>" +
                                "<td>" + result.array[i].nice + "</td>" +
                                "<td>" + result.array[i].idle + "</td>" +
                                "<td>" + result.array[i].combined + "</td>" +
                                "</tr>"
                            )
                        }
                    } else {
                        $("#cpu").html(result.msg);
                    }
                }
            );
        }, time_interval);
    }

    function getMemoryInfo(){
        setInterval(function () {
            $.post(
                "/information/getMemoryInfo",
                {
                    //parameters
                },
                function (result, status) {
                    if (result.code == '0') {
                        $("#memory-info").html("" +
                            "<tr>" +
                            "<td>" + result.total + "</td>" +
                            "<td>" + result.user + "</td>" +
                            "<td>" + result.free + "</td>" +
                            "<td>" + result.swapTotal + "</td>" +
                            "<td>" + result.swapUsed + "</td>" +
                            "<td>" + result.swapFree + "</td>" +
                            "</tr>"
                        )
                    } else {
                        $("#cpu").html(result.msg);
                    }
                }
            );
        }, time_interval);
    }

    function getSystemInfo(){
        $.post(
            "/information/getSystemInfo",
            {
                //parameters
            },
            function (result, status) {
                if (result.code == '0') {
                    $("#system-info").html("" +
                        "<li>Arch&nbsp;&nbsp;&nbsp;" + result.arch + "</li>" +
                        "<li>CpuEndian&nbsp;&nbsp;&nbsp;" + result.cpuEndian + "</li>" +
                        "<li>DataModel&nbsp;&nbsp;&nbsp;" + result.dataModel + "</li>" +
                        "<li>Description&nbsp;&nbsp;&nbsp;" + result.description + "</li>" +
                        "<li>Name&nbsp;&nbsp;&nbsp;" + result.name + "</li>" +
                        "<li>PatchLevel&nbsp;&nbsp;&nbsp;" + result.patchLevel + "</li>" +
                        "<li>Vendor&nbsp;&nbsp;&nbsp;" + result.vendor + "</li>" +
                        "<li>VendorCodeName&nbsp;&nbsp;&nbsp;" + result.vendorCodeName + "</li>" +
                        "<li>VendorName&nbsp;&nbsp;&nbsp;" + result.vendorName + "</li>" +
                        "<li>VendorVersion&nbsp;&nbsp;&nbsp;" + result.vendorVersion + "</li>" +
                        "<li>Version&nbsp;&nbsp;&nbsp;" + result.version + "</li>" +
                        ""
                    )
                } else {
                    $("#cpu").html(result.msg);
                }
            }
        );
    }

    function getSystemInfoByJava(){
        $.post(
            "/information/getSystemInfoFromJava",
            {
                //parameters
            },
            function (result, status) {
                if (result.code == '0') {
                    $("#system-info-java").html("" +
                        "<li>userName&nbsp;&nbsp;&nbsp;" + result.userName + "</li>" +
                        "<li>computerName&nbsp;&nbsp;&nbsp;" + result.computerName + "</li>" +
                        "<li>userDomain&nbsp;&nbsp;&nbsp;" + result.userDomain + "</li>" +
                        "<li>ip&nbsp;&nbsp;&nbsp;" + result.ip + "</li>" +
                        "<li>hostName&nbsp;&nbsp;&nbsp;" + result.hostName + "</li>" +
                        "<li>totalMemory&nbsp;&nbsp;&nbsp;" + result.totalMemory + "</li>" +
                        "<li>freeMemory&nbsp;&nbsp;&nbsp;" + result.freeMemory + "</li>" +
                        "<li>availableProcessors&nbsp;&nbsp;&nbsp;" + result.availableProcessors + "</li>" +
                        "<li>javaVersion&nbsp;&nbsp;&nbsp;" + result.javaVersion + "</li>" +
                        "<li>javaVendor&nbsp;&nbsp;&nbsp;" + result.javaVendor + "</li>" +
                        "<li>javaVendorUrl&nbsp;&nbsp;&nbsp;" + result.javaVendorUrl + "</li>" +
                        "<li>javaHome&nbsp;&nbsp;&nbsp;" + result.javaHome + "</li>" +
                        "<li>javaVmSpecificationVersion&nbsp;&nbsp;&nbsp;" + result.javaVmSpecificationVersion + "</li>" +
                        "<li>javaVmSpecificationVendor&nbsp;&nbsp;&nbsp;" + result.javaVmSpecificationVendor + "</li>" +
                        "<li>javaVmSpecificationName&nbsp;&nbsp;&nbsp;" + result.javaVmSpecificationName + "</li>" +
                        "<li>javaVmVersion&nbsp;&nbsp;&nbsp;" + result.javaVmVersion + "</li>" +
                        "<li>javaVmVendor&nbsp;&nbsp;&nbsp;" + result.javaVmVendor + "</li>" +
                        "<li>javaVmName&nbsp;&nbsp;&nbsp;" + result.javaVmName + "</li>" +
                        "<li>javaSpecificationVersion&nbsp;&nbsp;&nbsp;" + result.javaSpecificationVersion + "</li>" +
                        "<li>javaSpecificationVendor&nbsp;&nbsp;&nbsp;" + result.javaSpecificationVendor + "</li>" +
                        "<li>javaSpecificationName&nbsp;&nbsp;&nbsp;" + result.javaSpecificationName + "</li>" +
                        "<li>javaClassVersion&nbsp;&nbsp;&nbsp;" + result.javaClassVersion + "</li>" +
                        "<li>javaClassPath&nbsp;&nbsp;&nbsp;" + result.javaClassPath + "</li>" +
                        "<li>javaLibraryPath&nbsp;&nbsp;&nbsp;" + result.javaLibraryPath + "</li>" +
                        "<li>javaIoTmpdir&nbsp;&nbsp;&nbsp;" + result.javaIoTmpdir + "</li>" +
                        "<li>javaExtDirs&nbsp;&nbsp;&nbsp;" + result.javaExtDirs + "</li>" +
                        "<li>osName&nbsp;&nbsp;&nbsp;" + result.osName + "</li>" +
                        "<li>osArch&nbsp;&nbsp;&nbsp;" + result.osArch + "</li>" +
                        "<li>osVersion&nbsp;&nbsp;&nbsp;" + result.osVersion + "</li>" +
                        "<li>fileSeparator&nbsp;&nbsp;&nbsp;" + result.fileSeparator + "</li>" +
                        "<li>pathSeparator&nbsp;&nbsp;&nbsp;" + result.pathSeparator + "</li>" +
                        "<li>lineSeparator&nbsp;&nbsp;&nbsp;" + result.lineSeparator + "</li>" +
                        "<li>userAccountName&nbsp;&nbsp;&nbsp;" + result.userAccountName + "</li>" +
                        "<li>userHome&nbsp;&nbsp;&nbsp;" + result.userHome + "</li>" +
                        "<li>userDir&nbsp;&nbsp;&nbsp;" + result.userDir + "</li>" +
                        ""
                    );
                } else {
                    $("#cpu").html(result.msg);
                }
            }
        );
    }

    function getUserInfo(){
        setInterval(function () {
            $.post(
                "/information/getUserInfo",
                {
                    //parameters
                },
                function (result, status) {
                    if (result.code == '0') {
                        $("#user-info").html("");
                        for (var i = 0; i < result.array.length; i++) {
                            $("#user-info").html($("#user-info").html() +
                                "<tr>" +
                                "<td>" + result.array[i].user + "</td>" +
                                "<td>" + result.array[i].host + "</td>" +
                                "<td>" + result.array[i].device + "</td>" +
                                "<td>" + result.array[i].time + "</td>" +
                                "</tr>"
                            )
                        }
                    } else {
                        $("#cpu").html(result.msg);
                    }
                }
            );
        }, time_interval);
    }

    function getFileSystemInfo(){
        setInterval(function () {
            $.post(
                "/information/getFileSystemInfo",
                {
                    //parameters
                },
                function (result, status) {
                    if (result.code == '0') {
                        $("#file-system-info").html("");
                        for (var i = 0; i < result.array.length; i++) {
                            $("#file-system-info").html($("#file-system-info").html() +
                                "<tr>" +
                                "<td>" + result.array[i].devName + "</td>" +
                                "<td>" + result.array[i].dirName + "</td>" +
                                "<td>" + result.array[i].flags + "</td>" +
                                "<td>" + result.array[i].sysTypeName + "</td>" +
                                "<td>" + result.array[i].typeName + "</td>" +
                                "<td>" + result.array[i].type + "</td>" +
                                "<td>" + result.array[i].total + "</td>" +
                                "<td>" + result.array[i].free + "</td>" +
                                "<td>" + result.array[i].avail + "</td>" +
                                "<td>" + result.array[i].used + "</td>" +
                                "<td>" + result.array[i].percent + "</td>" +
                                "<td>" + result.array[i].diskReads + "</td>" +
                                "<td>" + result.array[i].diskWrites + "</td>" +
                                "</tr>"
                            )
                        }
                    } else {
                        $("#cpu").html(result.msg);
                    }
                }
            );
        }, time_interval);
    }

    function getNetworkInfo(){
        setInterval(function () {
            $.post(
                "/information/getNetworkInfo",
                {
                    //parameters
                },
                function (result, status) {
                    if (result.code == '0') {
                        $("#network-info").html("");
                        for (var i = 0; i < result.array.length; i++) {
                            $("#network-info").html($("#network-info").html() +
                                "<tr>" +
                                "<td>" + result.array[i].name + "</td>" +
                                "<td>" + result.array[i].address + "</td>" +
                                "<td>" + result.array[i].netmask + "</td>" +
                                "<td>" + result.array[i].rxPackets + "</td>" +
                                "<td>" + result.array[i].txPackets + "</td>" +
                                "<td>" + result.array[i].rxBytes + "</td>" +
                                "<td>" + result.array[i].txBytes + "</td>" +
                                "<td>" + result.array[i].rxErrors + "</td>" +
                                "<td>" + result.array[i].txErrors + "</td>" +
                                "<td>" + result.array[i].rxDropped + "</td>" +
                                "<td>" + result.array[i].txDropped + "</td>" +
                                "</tr>"
                            )
                        }
                    } else {
                        $("#cpu").html(result.msg);
                    }
                }
            );
        }, time_interval);
    }

    function getEthernetInfo(){
        setInterval(function () {
            $.post(
                "/information/getEthernetInfo",
                {
                    //parameters
                },
                function (result, status) {
                    if (result.code == '0') {
                        $("#ethernet-info").html("");
                        for (var i = 0; i < result.array.length; i++) {
                            $("#ethernet-info").html($("#ethernet-info").html() +
                                "<tr>" +
                                "<td>" + result.array[i].name + "</td>" +
                                "<td>" + result.array[i].address + "</td>" +
                                "<td>" + result.array[i].broadcast + "</td>" +
                                "<td>" + result.array[i].hwaddr + "</td>" +
                                "<td>" + result.array[i].netmask + "</td>" +
                                "<td>" + result.array[i].description + "</td>" +
                                "<td>" + result.array[i].type + "</td>" +
                                "</tr>"
                            )
                        }
                    } else {
                        $("#cpu").html(result.msg);
                    }
                }
            );
        }, time_interval);
    }
</script>
</html>